@media (max-width:991px) {
    html{
        font-size: 14px;
        background-color: red;
    }
    
}
@media (max-width:768px) {
    html{
        background-color: rgb(56, 22, 229);
    }
#menu-bar{
    display: inline-block;
}

#menu-wrapper{
  display: none;
}

}