
.input-box .form-input{
width: 49%;
text-align: right;
}
.form-input input,.form-input textarea{
    background-color: #d5d2d2;
}
input,
textarea{
    padding: 1rem;
    width: 100%;
    margin-top: 10px;
}
input:focus,
textarea:focus{
border: 1px solid green;
background-color: #fff;
}
input::placeholder,
textarea::placeholder{
    text-align: right;
    font-size: 10px;
    direction: rtl !important;
}
.submit-box .submit-btn{
    background-color: rgb(111, 164, 32);
}