
.container-filter {
    width: 100%;
    height: auto;
    position: relative;
}
.filter-item{
    height: auto;
    flex-basis: 200px;
    animation:  fadeIn 1s;
}

@keyframes fadeIn {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.filter-item_img{
    width: 200px;
    height: 200px;
    overflow: hidden;
}
.filter-item_img img{
    transition: transform 0.2s ease-in-out;
}
.filter-item_img:hover img{
    transform: scale(1.1);
    margin-top: 12px;
    transition: all 0.5s ease-in-out;

}
.active-btn{
  color: rgb(232, 138, 23);
}
.filter-btn {
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
}
.filter-btn::after{
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0;
    background-color: red;
    transition: all 0.2s ease-in-out;
}

.filter-btn:hover::after{
    width: 100%;
}
.discount{
    width: 40px;
    z-index: 1;
}
.stars a.active{
    color: gold;
}

