@import './_Utilities.css';
@import './_Navbar.css';
@import './_Hamburger-menu.css';
@import './_Product-Section.css';
@import './_Discount.css';
@import './_Review-Section.css';
@import './_Order-Section.css';
@import './_Footer-Section.css';
@import './_Details.css';




:root{
    --green:#27ae60;
    --black:#192a56;
    --light:#666;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);
}



/* Scc Reset--------------------------------- */


*,::before,::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    outline: none;
    border: none;
    transition: all .2s linear;
}
html,body{
    scroll-behavior: smooth;
    position: relative;
}
ol,ul,li{
    list-style: none;
}
a,
a:active,
a:visited{
    text-decoration: none;
    cursor: pointer;
}
textarea{
    resize: none;
}
img{
    display: block;
    width: 100%;
    height: 100%;
}
.current{
    background: linear-gradient(45deg,#87adfe,#ff77cd);
}

